.header-box {
  border-bottom: 1px solid hsla(0, 6%, 23%, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #ffffff, #f9f9f9);
  padding: 15px;
  height: 80px;
  background-color: white;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
} 
.title01, .title02 {
  display: inline-block;
  margin-right: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.title01 {
  font-family: 'Custom-Font';
  letter-spacing: 3px;
  font-size: 50px;
  margin-left: 20px;
}
.title02 {
  font-family: 'Header-Font';
  letter-spacing: -1px;
  font-style: italic;
  font-size: 30px;
  margin-right: 20px;
}
.title-section {
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sub-headings-section {
  border: 1px solid red;
  height: 2em;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.sub-headings-section > *:first-child {
  margin-left: 180px;
} 
.sub-headings-section > *:last-child {
  margin-right: 180px;
} 
.account-section {
  border: 1px solid blue;
}
.home-subheading, .exercise-subheading, .workout-plans-subheading {
  color: hsl(0, 1%, 26%);
  text-shadow: 1px 1px 2px #FFFFFF;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 2;
  transform: scaleY(1.3);
  position: relative;
  overflow: hidden;
  transition: color 0.8s ease, font-size 0.8s ease transform 0.8s ease;
  border: 1px solid black;
}
.home-subheading::after, .exercise-subheading::after, .workout-plans-subheading::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: black;
  transition: width 0.8s ease;
}
.home-subheading:hover::after, .exercise-subheading:hover::after, .workout-plans-subheading:hover::after {
  width: 100%;
}
.home-subheading:hover, .exercise-subheading:hover, .workout-plans-subheading:hover {
  cursor: pointer;
  font-size: 28px;
  transform: scaleY(1.3);
  color: hsl(0, 0%, 55%);
}
.home-subheading:active, .exercise-subheading:active, .workout-plans-subheading:active {
  font-size: 27px;
  transform: scaleY(1.2);
  transition: transform 0.1s ease, font-size 0.1s ease;
} 

