
.workout-container {
  display: flex;
}
.workout-container {
  background: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-container h4 {
  margin: 0 0 20px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-container p {
  margin: 5px 0 5px 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details {
  flex: 3;
}
.function-icons {
  flex: 1;
  display: flex;
  justify-content: end;
}
.edit-icon, .delete-icon {
  font-size: 20px;
  color: #808080;
  padding: 6px;
  border-radius: 16px;
  background-color: #eeeeee;
}
.edit-icon:hover, .delete-icon:hover {
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}
.edit-icon {
  margin-right: 8px;
}

.message-prompt, .error-prompt {
  position: fixed; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  border-radius: 8px; 
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  overflow: visible; 
}
