
.form-container {
  padding: 10px 50px;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
} 
form button {
  font-family: 'Body-Font';
  font-size: 15px;
  width: 150px;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
form button:hover {
  background: var(--secondary);
}
.message-prompt, .error-prompt {
  position: fixed; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  border-radius: 8px; 
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  overflow: visible; 
}