.exercises-layout {
  font-family: 'Body-Font';
  margin: 0px;
}
.exercises-header,
.exercises-box {
  padding: 30px 200px;
}
.exercises-header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 1px 3px rgba(0, 0, 0, 0.1);
}
.exercises-header h4 {
  font-family: 'Custom-Font';
  font-size: 80px;
  margin: 0px;
  margin-top: 10px;
  letter-spacing: 10px;
}

.exercises-header p {
  font-size: 20px;
  margin: 0px;
  letter-spacing: 10px;
}
.exercises-header {
  color: white;
  background-color: var(--primary);
  height: 180px;
}
.exercises-box {
  padding-bottom: 200px;
}
.exercise-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 30px 30px;
  background-color: #f9f9f9;
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}
.exercise-details h4 {
  margin: 0 0 20px 0;
  font-size: 40px;
  color: var(--primary);
}
.exercise-details p {
  margin: 5px 0 5px 0;
  font-size: 15px;
  color: #555;
}
.exercise-text {
  flex: 3;
}
.exercise-function {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.exercise-add-button button {
  all: unset;
}
.exercise-add-button {
  background-color: var(--primary);
  border-radius: 30px;
  color: white;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.exercise-add-button:hover {
  background-color: var(--secondary);
}
.message-prompt, .error-prompt {
  position: fixed; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  border-radius: 8px; 
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  overflow: visible; 
}