body {
  font-family: 'Body-Font', sans-serif;
  background-color: #E8E9EB;
  position: relative;
  min-height: 100vh;
  margin: 0px;
  padding-bottom: 500px; 
  /* long bottom padding */
}
:root {
  --primary: #1aac83;
  --secondary: #2896bd;
  --error: #e7195a;
}
a {
  all: unset;
}


@font-face {
  font-family: 'Custom-Font';
  src: url('/calendas_plus-webfont.woff2') format('woff2');
  src: url('/calendas_plus-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Header-Font';
  src: url('/Margot-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Body-Font';
  src: url('/Poppins-Medium.ttf') format('ttf');
  src: url('/Poppins-Bold.ttf') format('ttf');
}