.exercises-layout {
  font-family: 'Body-Font';
  margin: 0px;
}
.exercises-header,
.exercises-box {
  padding: 30px 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
  0 1px 3px rgba(0, 0, 0, 0.1);
}
.exercises-header h4 {
  font-family: 'Custom-Font';
  font-size: 80px;
  margin: 0px;
  margin-top: 10px;
  letter-spacing: 10px;
}

.exercises-header p {
  font-size: 20px;
  margin: 0px 0px 0px 20px;
  letter-spacing: 10px;
}
.exercises-header {
  color: white;
  background-color: var(--primary);
  height: 180px;
}
.exercises-box {
  padding-bottom: 200px;
}

.exercise-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 30px 30px;
  background-color: #f9f9f9;
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exercise-details:hover {
  cursor: pointer;
}
.exercise-details h4 {
  margin: 0 0 20px 0;
  font-size: 60px;
  letter-spacing: 5px;
  color: var(--primary);
}
.exercise-details p {
  margin: 5px 0 5px 0;
  font-size: 15px;
  color: #555;
}
.centered-link {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.centered-link h4 {
  margin: 0 0 20px 0;
  justify-content: center;
}
.centered-link p {
  margin: 5px 0 5px 0;
}

